/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 10pt verdana, helvetica, sans-serif;
}

/* Tableaux -------------------------------------------------------------------------------------*/
table {
	border-collapse: collapse;
}

tr.pair {
	background-color: #efefef;
}

tr.impair {
	background-color: #fff;	
}

th {
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}

th.action {
	border: 1px solid #900;
	color: #900;
}

td {
	border: 1px solid #ddd;
	padding: 5px;
}

td.action {
	text-align: center;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0080ff solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0080ff;
}

form label {
    float: left;
    width: 150px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #c0c0c0 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

button {
	width:110px;
	cursor:pointer;
	text-transform:capitalize;
	margin:auto;
}
.resetButton {
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#c0c0c0;
	color:#fff;
	width:100px;
	border-radius:2px;
	border:none;
}
.submitButton {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#0080ff;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
}

.required {
    color: #c00;
}

.error {
    color: #900;
}

.success {
    color: #090;
}

.info {
    font-style: italic;
    color: #F38C2B;
}

/* Menu */
div#menu{
	border: 1px solid #0080ff;
	padding: 10px;
	margin: 10px;
}
div#corps{
	margin: 10px;
}